auto-save-list/
configuration.el
custom.el
custom.el~
eln-cache
elpa
elpy
emms
emojis
eshell
forge-database*
org-roam.db
projectile-bookmarks.eld
projects
recentf
request
snippets
tramp
transient
tutorial
var
.last-package-update-day
