.lsp*
auto-save-list/
configuration.el
custom.el
custom.el~
eglot*
eln-cache
elpa
elpy
emms
emojis
eshell
forge-database*
FsAutoComplete
org-roam.db
projectile-bookmarks.eld
projects
recentf
request
share
snippets
straight
tramp
transient
tutorial
var
url
.last-package-update-day
